<div class="row">
    <div class="col-md-4"></div>
    <form class="col-md-4 my-3" action="/product/update/{{product._id}}?_method=PUT" method="post"
          enctype="multipart/form-data">
        <div align="center">
            <h2>Update Product</h2>
        </div>
        <div class="form-group my-2">
            <label for="name">Name Product</label>
            <input type="text" class="form-control" value="{{product.name}}" id="name" name="name">
            {{#if error.name}}
                <p style="color: red">{{error.name}}</p>
            {{/if}}
        </div>
        <div class="form-group my-2">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description">{{product.description}}</textarea>
            {{#if error.description}}
                <p style="color: red">{{error.description}}</p>
            {{/if}}
        </div>
        <div class="form-group my-2">
            <label for="brands">Brand</label>
            <select name="brands" id="brands" class="form-control">
                <option value="{{product.brands._id}}">{{product.brands.name}}</option>
                {{#each brand}}
                    <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>
            {{#if error.brand}}
                <p style="color: red">{{error.brand}}</p>
            {{/if}}
        </div>
        <div class="form-group my-2">
            <label for="types">Type</label>
            <select name="types" id="types" class="form-control">
                <option value="{{product.types._id}}">{{product.types.name}}</option>
                {{#each type}}
                    <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>
            {{#if error.type}}
                <p style="color: red">{{error.type}}</p>
            {{/if}}
        </div>
        <div class="form-group my-2">
            <label for="price">Price</label>
            <input type="text" class="form-control" value="{{product.price}}" id="price" name="price">
            {{#if error.price}}
                <p style="color: red">{{error.price}}</p>
            {{/if}}
        </div>
        <div class="form-group my-2">
            <label for="image">Image</label>
            <input type="file" class="form-control" id="image" name="image">
            <input type="text" class="form-control" hidden value="{{product.image}}" id="fileValue" name="image">
            {{#if error.image}}
                <p style="color: red">{{error.image}}</p>
            {{/if}}
            <div class="row justify-content-center mt-3">
                <img src="/image/{{product.image}}" alt="" id="selectImage" style="width: 10rem;">
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <button class="btn btn-primary">Update</button>
        </div>
    </form>
    <div class="col-md-4"></div>
</div>
<script>
    const fileInput = document.getElementById('image');
    const imgElement = document.getElementById('selectImage');
    window.addEventListener('load', function () {
        const currentFile = fileInput.files[0];
        const newFile = new File([currentFile], document.getElementById('fileValue').value, {
            type: 'image/jpeg',
            lastModified: Date.now()
        });
        const newFileList = new DataTransfer();
        newFileList.items.add(newFile);

        // Gán đối tượng FileList mới cho input file
        fileInput.files = newFileList.files;
        console.log(fileInput.files[0]);
    })
    fileInput.addEventListener('change', function (event) {
        const file = event.target.files[0];
        console.log(file)
        if (file) {
            const url = URL.createObjectURL(file);
            imgElement.setAttribute('src', url);
        } else {
            imgElement.setAttribute('src', '');
        }
    });

</script>
